<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Rendezvous</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form id="app-search-form" class="navbar-form navbar-left" role="search" action="<%= posts_path %>">
        <div class="input-group">
          <input type="text" name="q" class="form-control" value="<%= params[:q] %>" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-disable-with="Searching...">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>

      <p class="navbar-text" id="header-search-hint">
        <a href="#" data-toggle="modal" data-target="#header-search-description">
          Search <span class="glyphicon glyphicon-question-sign" ></span>
        </a>
        |
        <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">
          Markdown <span class="glyphicon glyphicon-question-sign" ></span>
        </a>
      </p>

      <%= form_tag(destroy_user_session_path, :method => :delete, class: 'navbar-form navbar-right') do %>
        <%= submit_tag 'SignOut', class: 'btn btn-default' %>
      <% end %>

      <div class="navbar-right">
        <a href="<%= new_post_path %>" class="btn btn-primary navbar-btn">Post&nbsp;&nbsp;
          <span class="glyphicon glyphicon-pencil"></span>
        </a>

        <img src="<%= current_user.image_url %>" width="25" height="25">
        <%= current_user.name %>
      </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<!-- Modal #header-search-description -->
<div class="modal fade" id="header-search-description" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Search command</h4>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Search by title</dt>
          <dd><pre><a href="<%= posts_path(q: 'title:ruby') %>">title:ruby</a></pre></dd>
          <dt>Search by id</dt>
          <dd><pre><a href="<%= posts_path(q: 'id:123') %>">id:123</a></pre></dd>
          <dt>Search by body</dt>
          <dd><pre><a href="<%= posts_path(q: 'body:ruby') %>">body:ruby</a></pre></dd>
          <dt>Search by author</dt>
          <dd><pre><a href="<%= posts_path(q: '@taro') %>">@taro</a></pre></dd>
          <dt>Search by tag</dt>
          <dd><pre><a href="<%= posts_path(q: '#ruby') %>">#ruby</a></pre></dd>
          <dt>Search by date</dt>
          <dd><pre><a href="<%= posts_path(q: 'date:2013-12-16') %>">date:2013-12-16</a></pre></dd>
          <dt>Search by title or body</dt>
          <dd><pre><a href="<%= posts_path(q: 'ruby') %>">ruby</a></pre></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% style do %>
#header-search-hint{
  margin-left: 0;
}
<% end %>
