<%= form_for(@tag) do |f| %>

  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-10">
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon"><%= f.label :name %></span>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="actions">
        <%= f.submit class: 'btn btn-primary', id: 'save_button' %>
      </div>
    </div>

  </div>

  <br>

  <div class="row">

    <div class="col-xs-6 col-md-6">

      <div class="field">
        <!-- <%= f.label :body %><br> -->
        <%= f.text_area :body, class: 'autosize editor disable-tab' %>
      </div>

    </div><!--/span-->

    <div class="col-xs-12 col-sm-6 col-md-6">

      <div class="box-text">
        <div id="tag_preview" class="text-box body viewer github">
        </div>
      </div>

    </div><!--/span-->

  </div><!--/row-->

<% end %>

<% content_for :footer_js do %>
<script type="text/javascript">
  $.setConfirmUnload()
</script>
<% end %>
