<div class="row">

  <div class="col-xs-8">
    <h1><%= @tag.name %>についてのページ</h1>
  </div>

  <div class="col-xs-4">
    <div class="btn-group pull-right">
      <a class="btn btn-primary" href="<%= @tag.edit_path %>">
        このページを編集する <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" data-toggle="modal" data-target="#modal-merge">Merge to...</a></li>
        <li><a href="#" data-toggle="modal" data-target="#myModal">Rename to...</a></li>
        <li><a href="#" data-toggle="modal" data-target="#myModal">Open Tag Tree editor...</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        「<%= @tag.name %>」とは
      </div>
      <div class="panel-body">
        <%- if @tag.body.present? -%>
          <%= h_application_format_markdown(@tag.body) %>
        <%- else -%>
          まだ「<%= @tag.name %>」の情報がありません。
        <%- end -%>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="list-group">
      <h2><small>「<%= @tag.name %>」のタグが付いた記事</small></h2>
      <% @tag.posts.each_with_index do |post, i| %>
        <a href="<%= post_path(post) %>" class="list-group-item post-list"><%= post.title %></a>
      <% end %>
    </div>
  </div>

</div><!--/row-->

<!-- Modal -->
<div class="modal fade" id="modal-merge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_tag '#', method: :post, class: 'form-horizontal', role: 'form' do %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">Merge to other tag</h4>
        </div>

        <div class="modal-body">
          <h4>マージ先のTagを選んでください</h4>
          <div id="merge-tag-tree">
            <%= Tag.all.decorate.tree_view %>
          </div>
        </div>

<% content_for :footer_js do %>
  <script type="text/javascript">
    $(function(){
      $('#merge-tag-tree a').on('click', function(e){

        console.log(e)

        e.preventDefault();
        var $this = $(this);

        if(window.confirm('「<%= @tag.name %>」を「' + $this.data('name') + '」にマージます')) {
          $.ajax({
            type: "POST",
            url: "/tags/<%= @tag.name %>/merge_to/" + $this.data('name')
          }).done(function(data){
            location.href = "/tags/" + $this.data('name');
          }).fail(function(data){
            alert('error');
          });
        } else {
          return false;
        }
      })
    })
  </script>
<% end %>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->

    <% end %><%# form %>

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

