<%= form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-10">
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon"><%= f.label :title %></span>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>

      <div class="field">
        <div class="input-group">
          <span class="input-group-addon"><%= f.label :tags %></span>
          <%= hidden_field :post, :tags, id: 'post_tags', style: 'width:300px', value: @post.tags.pluck(:name).join(',') %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>

  </div>

  <br>

  <div class="row">

    <div class="col-xs-6 col-md-6">

      <div class="field">
        <!-- <%= f.label :body %><br> -->
        <%= f.text_area :body, class: 'autosize editor disable-tab' %>
      </div>

    </div><!--/span-->

    <div class="col-xs-12 col-sm-6 col-md-6">

      <div class="box-text">
        <div id="post_preview">
          <%#= h_application_format_markdown(sample_body).html_safe %>
        </div>
      </div>

    </div><!--/span-->

  </div><!--/row-->

<% end %>

<% content_for :footer_js do %>
<script type="text/javascript">

  $(function(){
    'use strict';

    // Automaticaly change textarea height.
    $('textarea.autosize').autosize();

    // disable tab key
    $('.disable-tab').on('keydown', function(e) {
      var keyCode = e.keyCode || e.which;

      if (keyCode === 9) {
        e.preventDefault();
        var start = $(this).get(0).selectionStart;
        var end = $(this).get(0).selectionEnd;

        // set textarea value to: text before caret + tab + text after caret
        $(this).val($(this).val().substring(0, start) +
                    '\t' +
                    $(this).val().substring(end));

        // put caret at right position again
        $(this).get(0).selectionStart =
        $(this).get(0).selectionEnd = start + 1;
      }
    });

    // new post tags
    $('#post_tags').select2({
      tags: <%= raw Tag.all.pluck(:name).to_json %>
    });
  });
</script>
<% end %>
