<div style="text-align:right">
  <a href="<%= mail_post_path(@post) %>" class="btn navbar-btn" style!="position:absolute;right:0;top:0;margin-top:2px;margin-top:3px;margin-right:3px;">
    Mail
  </a>
  <a href="<%= fork_post_path(@post) %>" class="btn navbar-btn" style!="position:absolute;right:0;top:0;margin-top:2px;margin-top:3px;margin-right:3px;">
    Fork
  </a>
  <a href="<%= edit_post_path(@post) %>" class="btn btn-primary navbar-btn" style!="position:absolute;right:0;top:0;margin-top:2px;margin-top:3px;margin-right:3px;">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
</div>
<div class="text-box title" style!="position:relative;">
  <a href="<%= post_path(@post) %>"><%= @post.title %></a>
</div>
<div class="text-box meta">
  <% @post.tags.each do |tag| %>
    <span class="label label-info">
      <a href="<%= root_path(q: "##{tag.name}") %>">#<%= tag.name %></a>
    </span>
  <% end %>
  <span class="label label-success">
    <a href="<%= root_path(q: "@#{@post.author.name}") %>">@<%= @post.author.name %></a>
  </span>
  <span class="label label-danger">
    <a href="<%= root_path(q: "date:#{@post.updated_at.strftime('%Y-%m-%d')}") %>"><%= @post.updated_at.strftime('%Y-%m-%d') %></a>
  </span>
</div>
<div class="text-box body viewer github">
  <%= h_application_format_markdown(@post.body) %>
</div>

