<div class="text-box title"><%= @post.title %></div>
<div class="text-box meta">
  <% @post.tags.each do |tag| %>
    <span class="label label-info">#<%= tag.name %></span>
  <% end %>
  <span class="label label-success">@<%= @post.author.name %></span>
  <span class="label label-danger"><%= @post.updated_at.strftime('%Y-%m-%d') %></span>
</div>
<div class="text-box body"><%= h_application_format_markdown(@post.body) %></div>


