<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Rendezvous</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

  <%= csrf_meta_tags %>
</head>
<body>

  <% if notice %>
    <script type="text/javascript">
      alert('<%= notice %>');
    </script>
    <!--     <p class="notice"><%= notice %></p>  -->
  <% end %>
  <% if alert %>
    <script type="text/javascript">
      alert('<%= alert %>');
    </script>
    <!--     <p class="notice"><%= notice %></p>  -->
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    window.RV = window.RV || {};
    window.RV.AllTags = JSON.parse('<%= raw Tag.all.pluck(:name).to_json %>');
  </script>

  <%= javascript_include_tag "application" %>
  <%= yield :footer_js %>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

</body>
</html>
