<!DOCTYPE html><!--
Have a nice $$$$$$$\                            $$\
            $$  __$$\                           $$ |
            $$ |  $$ | $$$$$$\  $$$$$$$\   $$$$$$$ | $$$$$$\ $$$$$$$$\$$\    $$\  $$$$$$\  $$\   $$\  $$$$$$$\
            $$$$$$$  |$$  __$$\ $$  __$$\ $$  __$$ |$$  __$$\\____$$  \$$\  $$  |$$  __$$\ $$ |  $$ |$$  _____|
            $$  __$$< $$$$$$$$ |$$ |  $$ |$$ /  $$ |$$$$$$$$ | $$$$ _/ \$$\$$  / $$ /  $$ |$$ |  $$ |\$$$$$$\
            $$ |  $$ |$$   ____|$$ |  $$ |$$ |  $$ |$$   ____|$$  _/    \$$$  /  $$ |  $$ |$$ |  $$ | \____$$\
            $$ |  $$ |\$$$$$$$\ $$ |  $$ |\$$$$$$$ |\$$$$$$$\$$$$$$$$\   \$  /   \$$$$$$  |\$$$$$$  |$$$$$$$  |
            \__|  \__| \_______|\__|  \__| \_______| \_______\________|   \_/     \______/  \______/ \_______/  with your team.
-->
<html lang="ja">
<head>
  <title>Rendezvous</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    "application", media: "all" %>

  <%= render_style %>

  <%= csrf_meta_tags %>
</head>
<body class="rails-<%= params[:controller] %>-<%= params[:action] %>">

  <%= render partial: 'partials/header_notifications' %>

  <%- if params[:controller] != 'home' -%>
    <%= render partial: 'partials/app_header' %>
  <%- end -%>

  <div class="container">
    <%= render_breadcrumbs %>
  </div><!--/.container-->

  <div class="container container-main">
    <%= yield %>
  </div><!--/.container-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    window.RV = window.RV || {};
    window.RV.AllTags = JSON.parse('<%= raw Tag.all.pluck(:name).to_json %>');
  </script>

  <hr>
  <footer>
    <div class="container">
      <a href="https://github.com/tadyjp/rendezvous">Github</a>
      |
      <a href="https://twitter.com/tady_jp">@tady_jp</a>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
  <%= yield :footer_js %>

</body>
</html>
